/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

h1 {
    margin: 0;
    font-family: Brunel-Deck-Semibold,Georgia,serif;
    font-size: 26px;
    line-height: 1.1;
}

h2 {
    margin: 0;
    font-family: Brunel-Deck-Semibold,Georgia,serif;
    font-size: 18px;
    line-height: 1.1;
}

h3 {
   margin: 0;
   font-family: Benton,Helvetica,Arial,sans-serif;
   font-size: 18px;
   line-height: 1.2;
}

p {
    font-family: Georgia, serif;
    font-weight: 400;
    line-height: 1.4;
}

strong {
    font-weight: 700;
}

.title-wrapper,
.page-main-content {
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

.title-wrapper {
    margin: 0 0 0 0;
    padding: 50px 25px 0;
}

.content-wrapper {
    padding: 50px 25px;
}

.page-main-content {
    margin: 0 0 calc(100vh) 0;
}

.title-wrapper,
.content-wrapper {  
    position: relative;  
    background-color: white;
}

.page-title, 
.page-subtitle,
.page-author-byline,
.section-slug-subhead,
.fixed-image-caption {
    position: relative;
    width: 100%;
    max-width: 1050px;
}

.page-title {
    margin: 0 auto 16px;
    font-weight: 700;
    text-align: center;
    color: black;
}

.page-subtitle {
    margin: 0 auto 0;
    font-size: 18px;
    line-height: 1.2;
    color: #656565;
    text-align: center
}

.page-subtitle:after {
    content: " ";
    display: block;
    margin: 18px auto;
    width: 50px;
    height: 2px;
    border-bottom: 1px dotted #656565;
}

.page-author-byline,
.featured-image-credit,
.graphic-label,
.section-slug-subhead,
.fixed-image-caption,
.page-article-slug {
    display: block;
    margin: 0 auto 0;
    font-family: Benton,Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.4;  
    color: #656565;
}

.page-article-slug {
    margin: 0 auto 16px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}

.page-author-byline {
    text-align: center;
}

.page-author-byline a {
    display: inline-block;
    text-decoration: none;
    color: #656565;
}

.page-author-byline a:hover {
    text-decoration: underline;
}

.page-featured-image-wrapper {
    position: relative;
    margin: 25px auto 0;
    width: 100%;
    max-width: 900px;
    overflow: hidden;
}

.page-featured-image {
    margin: 0 0 0 0;
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 66.666%;
    overflow: hidden;
    -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
}

.page-featured-image img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: 4s;
    -o-transition: 4s;
    transition: 4s;
    -webkit-transition-timing-function: ease;
         -o-transition-timing-function: ease;
            transition-timing-function: ease;
}

.page-featured-image.zoom img {
    -webkit-transform: translate(-50%, -50%) scale(2.3);
        -ms-transform: translate(-50%, -50%) scale(2.3);
            transform: translate(-50%, -50%) scale(2.3);
}

.page-text-title {
   margin: 50px auto 0;
   font-weight: 700;
   color: #656565;
   width: 100%;
   max-width: 900px;
}

.page-text {
    margin: 0 auto 16px;
    width: 100%;
    max-width: 900px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #656565;
    background-color: white;
}

.page-lede-in {
    font-size: 175%;
}

.graphic-entries-wrapper,
.graphic-entrieslarge-wrapper {
    position: relative;
    margin: 0 0 0 0;
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

.section-slug-headline,
.footer-navigation-headline {
    position: relative;
    margin: 75px 0 0 0;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #656565;
}

.section-slug-headline:after,
.footer-navigation-headline:after {
    content: " ";
    display: block;
    margin: 24px auto 24px;
    width: 60px;
    height: 6px;
    border-top: 3px solid #656565;
    border-bottom: 1px solid #656565;
}

.section-slug-subhead {
    position: relative;
    margin: 0 auto 15px;
    font-weight: 700;
    text-align: center;
}

.graphic-entry,
.graphic-entrylarge {
    position: relative;
    margin: 0 0 0 0;
    width: 100%;
    height: 100vh;
    -webkit-transition-duration: .3s;
         -o-transition-duration: .3s;
            transition-duration: .3s;
    -webkit-transition-timing-function: ease;
         -o-transition-timing-function: ease;
            transition-timing-function: ease;
}

.graphic-container,
.graphic-containerlarge {
    position: fixed; 
    left: 50%;
    top: 50%;
    z-index: -100;
    opacity: 0;
    background-color: white;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    -webkit-transition-duration: 1.2s;
         -o-transition-duration: 1.2s;
            transition-duration: 1.2s;
}

.graphic-container {
    width: 320px;
    height: 320px;
}

.graphic-containerlarge {
    width: 100%;
    max-width: 1250px;
}

.graphic-entry.showme .graphic-container,
.graphic-entrylarge.showme .graphic-containerlarge {
    opacity: 1;
}

.graphic-image {
    margin: 0 0 0 0;
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    top: 50%;
    padding-bottom: 66.666%;
    overflow: hidden;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.graphic-image img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    -webkit-transition-duration: 5s;
         -o-transition-duration: 5s;
            transition-duration: 5s;
    -webkit-transition-timing-function: ease;
         -o-transition-timing-function: ease;
            transition-timing-function: ease;
}

.graphic-image.zoom.active img {
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
}

.graphic-entry-textbox,
.graphic-entrylarge-textbox {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(255,255,255,.85);
}

/*.graphic-entries-wrapper .graphic-entry:nth-child(1) .graphic-entry-textbox {
    top: 0;
    bottom: auto;
}*/

.graphic-entrylarge-innertextbox {
    margin: 0 auto 0;
    width: 100%;
    max-width: 900px;
    padding: 50px 25px;
}

.graphic-entry-text,
.graphic-entrylarge-title,
.graphic-entrylarge-text {
    margin: 0 auto 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #656565;  
    width: 100%;
}

.graphic-entry-text {
   padding: 50px 25px;
   max-width: 750px;
}

.graphic-entrylarge-title {
   font-weight: 700;
}

.letter-marker {
    display: inline-block;
    margin: 0 2px 0 2px;
    font-family: Benton,Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: 700;
    width: 23px;
    height: 23px;
    border-radius: 100%;
    text-align: center;
    color: white;
}

.letter-marker.blue {
    background-color: #8FBDD9;
}

.letter-marker.orange {
    background-color: #DE945B;
}

.letter-marker.purple {
    background-color: #5D63A6;
}

.letter-marker.green {
    background-color: #8C8B56;
}

.graphic-label,
.graphic-directional {
    position: absolute;
}

.graphic-directional {
    width: 1px;
    background-color: #656565;
}

.graphic-label.shoreline,
.graphic-label.depth-meters {
    top: 15%;
    left: 2%;
}

.graphic-label.shoreline .graphic-directional {
    top: 100%;
    left: 50%;  
    height: 218%;
}

.graphic-label.depth-meters .graphic-directional {
    top: 100%;
    left: 30%;  
    height: 355%;
}

.graphic-label.continental-shelf {
    top: 15%;
    left: 35%;
}

.graphic-label.continental-shelf .graphic-directional {
    top: 100%;
    left: 10%;
    height: 227%;
}

.graphic-label.slope,
.graphic-label.foot-slope-2 {
    top: 25%;
    left: 53%;
}

.graphic-label.slope .graphic-directional {
    top: 60%;
    left: -23%;
    height: 200%;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.graphic-label.foot-slope-2 .graphic-directional {
    top: 100%;
    left: 5%;
    height: 182%;
}

.graphic-label.crust {
    top: 70%;
    right: 2%;
}

.graphic-label.crust .graphic-directional {
    top: -150%;
    left: 50%;
    height: 150%;
}

.graphic-label.sedimentary-rock {
    top: 82%;
    left: 53%;
}

.graphic-label.sedimentary-rock .graphic-directional {
    top: -350%;
    left: 50%;
    height: 350%;
}

.graphic-label.foot-slope-1 {
    top: 72%;
    left: 5%;
}

.graphic-label.foot-slope-1 .graphic-directional {
    top: -128%;
    left: 15%;
    height: 128%;
}

.graphic-label.nautical-miles-1 {
    top: 35%;
    left: 63%;
}

.graphic-label.nautical-miles-1 .graphic-directional {
    top: 100%;
    left: 10%;
    height: 100%;
}

.graphic-label.one-percent {
    top: 82%;
    left: 18%;
}

.graphic-label.one-percent .graphic-directional {
    top: -400%;
    left: 25%;
    height: 400%;
}

.graphic-label.nautical-miles-2 {
    top: 22%;
    left: 55%
}

.graphic-label.nautical-miles-2 .graphic-directional {
    top: 100%;
    left: 50%;
    height: 170%;
}

.graphic-label.nautical-miles-3 {
    top: 25%;
    left: 55%
}

.graphic-label.nautical-miles-3 .graphic-directional {
    top: 100%;
    left: 40%;
    height: 240%;
}

.fixed-image-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 66.666%;
}

.fixed-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.fixed-image.lomonosov-ridge {
    background-image: url(../img/arcticBoundaries01.jpg);
}

.fixed-image-caption {
    margin: 24px auto 24px;
    font-size: 14px;
    padding: 0 0 12px 0;
    border-bottom: 1px dotted #656565;
}

.footer-navigation-wrapper {
    position: relative;
    margin: 0 0 0 0;
    width: 100%;
    padding: 50px 0;
    background-color: #D4EBFF;
}

.footer-navigation {
    margin: 0 auto;
    width: 100%;
    max-width: 1060px;
    padding: 0 30px;
}

.footer-navigation-menu {
    margin: 0 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style-type: none;
    padding: 0 0 0 0;
}

.footer-navigation-menu li {
    margin: 0 0 0 0;
    width: 100%;
    height: auto;
    padding: 0 0 0 0;
}

.footer-navigation-menu li a {
    display: block;
    width: 100%;
    height: auto;
    padding: 30px;
    text-decoration: none;
    -webkit-transition-duration: .5s;
         -o-transition-duration: .5s;
            transition-duration: .5s;
}

.footer-navigation-menu li a:hover {
    background-color: #BED3E6;
}

.footer-navigation-linkimg,
.footer-navigation-linkimg img {
    margin: 0;
    width: 100%;
    height: auto;
}

.footer-navigation-linkTitle {
    display: block;
    font-family: Brunel-Deck-Semibold,Georgia,serif;
    font-size: 21px;
    font-weight: 600;
    line-height: 1.1;
}

.footer-navigation-linkTitle {
    margin: 16px 0 0;
}

.footer-navigation-linkTitle,
.footer-navigation-link-subtitle,
.footer-navbyline {
    color: #535D66;
}




/* ==========================================================================
   CSS ANIMATIONS
   ========================================================================== */

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

@media only screen and (min-width: 375px) {
    .graphic-container {
        width: 375px;
        height: 375px;
    }

    .graphic-label.shoreline .graphic-directional {
        height: 270%;
    }

    .graphic-label.continental-shelf .graphic-directional {
        height: 283%;
    }

    .graphic-label.foot-slope-2 .graphic-directional {
        left: 7%;
        height: 231%;
    }

    .graphic-label.slope .graphic-directional {
        top: 81%;
        left: -22%;
        height: 217%;
        -webkit-transform: rotate(30deg);
            -ms-transform: rotate(30deg);
                transform: rotate(30deg);
    }

    .graphic-label.crust .graphic-directional {
        top: -175%;
        height: 175%;
    }

    .graphic-label.sedimentary-rock .graphic-directional {
        top: -400%;
        height: 400%;
    }

    .graphic-label.foot-slope-1 .graphic-directional {
        top: -150%;
        height: 150%;
    }

    .graphic-label.nautical-miles-1 .graphic-directional {
        top: 100%;
        height: 130%;
    }

    .graphic-label.one-percent .graphic-directional {
        top: -470%;
        height: 470%;
    }

    .graphic-label.nautical-miles-2 .graphic-directional {
        top: 100%;
        height: 210%;
    }

    .graphic-label.depth-meters .graphic-directional {
        top: 100%;
        height: 435%;
    }

    .graphic-label.nautical-miles-3 .graphic-directional {
        top: 100%;
        height: 285%;
    }
}

@media only screen and (min-width: 650px) {
    h1 {
        font-size: 34px;
    }

    .graphic-entry-text,
    .graphic-entrylarge-innertextbox {
        padding: 75px 50px;
    }

    .graphic-container {
        width: 600px;
        height: 500px;
    }

    .graphic-label.shoreline .graphic-directional {
        height: 330%;
    }

    .graphic-label.continental-shelf .graphic-directional {
        height: 350%;
    }

    .graphic-label.foot-slope-2 .graphic-directional {
        left: 11%;
        height: 311%;
    }

    .graphic-label.slope .graphic-directional {
        top: 81%;
        left: -32%;
        height: 297%;
        -webkit-transform: rotate(30deg);
            -ms-transform: rotate(30deg);
                transform: rotate(30deg);
    }

    .graphic-label.crust .graphic-directional {
        top: -195%;
        height: 195%;
    }

    .graphic-label.sedimentary-rock .graphic-directional {
        top: -475%;
        height: 475%;
    }

    .graphic-label.foot-slope-1 .graphic-directional {
        top: -205%;
        left: 35%;
        height: 205%;
    }

    .graphic-label.nautical-miles-1 .graphic-directional {
        top: 100%;
        height: 180%;
    }

    .graphic-label.one-percent .graphic-directional {
        top: -610%;
        height: 610%;
    }

    .graphic-label.nautical-miles-2 .graphic-directional {
        top: 100%;
        height: 240%;
    }

    .graphic-label.depth-meters .graphic-directional {
        top: 100%;
        left: 50%;  
        height: 595%;
    }

    .graphic-label.nautical-miles-3 .graphic-directional {
        top: 100%;
        height: 370%;
    }

    .footer-navigation-menu li {
        width: 50%;
    }
}

@media only screen and (min-width: 769px) {
    .title-wrapper {
        padding: 75px 25px 50px;
    }

    .page-featured-image {
        margin: 25px auto 0;
    }
    
    .graphic-container {
        width: 650px;
        height: 550px;
    }

    .graphic-label.shoreline .graphic-directional {
        height: 379%;
    }

    .graphic-label.continental-shelf .graphic-directional {
        height: 400%;
    }

    .graphic-label.foot-slope-2 .graphic-directional {
        left: 11%;
        height: 355%;
    }

    .graphic-label.slope .graphic-directional {
        height: 327%;
    }

    .graphic-label.crust .graphic-directional {
        top: -215%;
        height: 215%;
    }

    .graphic-label.sedimentary-rock .graphic-directional {
        top: -530%;
        height: 530%;
    }

    .graphic-label.foot-slope-1 .graphic-directional {
        top: -225%;
        height: 225%;
    }

    .graphic-label.nautical-miles-1 .graphic-directional {
        top: 100%;
        height: 210%;
    }

    .graphic-label.one-percent .graphic-directional {
        top: -660%;
        height: 660%;
    }

    .graphic-label.nautical-miles-2 .graphic-directional {
        top: 100%;
        height: 270%;
    }

    .graphic-label.depth-meters .graphic-directional {
        top: 100%;
        height: 665%;
    }

    .graphic-label.nautical-miles-3 .graphic-directional {
        top: 100%;
        height: 410%;
    }

    .footer-navigation-menu li {
        width: 33.333%;
    }
}

@media only screen and (min-width: 900px) {
    h1 {
        font-size: 42px;
    }

    .section-slug-headline {
        margin: 100px 0 0 0;
    }

    .graphic-container {
        width: 700px;
        height: 600px;
    }

    .graphic-label.shoreline .graphic-directional {
        height: 428%;
    }

    .graphic-label.continental-shelf .graphic-directional {
        height: 450%;
    }

    .graphic-label.foot-slope-2 .graphic-directional {
        left: 11%;
        height: 405%;
    }

    .graphic-label.slope .graphic-directional {
        height: 377%;
    }

    .graphic-label.crust .graphic-directional {
        top: -245%;
        height: 245%;
    }

    .graphic-label.sedimentary-rock .graphic-directional {
        top: -580%;
        height: 580%;
    }

    .graphic-label.foot-slope-1 .graphic-directional {
        top: -245%;
        height: 245%;
    }

    .graphic-label.nautical-miles-1 .graphic-directional {
        top: 100%;
        height: 240%;
    }

    .graphic-label.one-percent .graphic-directional {
        top: -730%;
        height: 730%;
    }

    .graphic-label.nautical-miles-2 .graphic-directional {
        top: 100%;
        height: 305%;
    }

    .graphic-label.depth-meters .graphic-directional {
        top: 100%;
        height: 740%;
    }

    .graphic-label.nautical-miles-3 .graphic-directional {
        top: 100%;
        height: 455%;
    }
}

@media only screen and (min-width: 1025px) {
    .fixed-image {
        background-attachment: fixed;
    }
}

@media only screen and (min-width: 1200px) {
    .graphic-container {
        width: 850px;
        height: 700px;
    }

    .graphic-label.shoreline .graphic-directional {
        height: 498%;
    }

    .graphic-label.continental-shelf .graphic-directional {
        height: 530%;
    }

    .graphic-label.foot-slope-2 .graphic-directional {
        left: 14%;
        height: 485%;
    }

    .graphic-label.slope .graphic-directional {
        height: 435%;
    }

    .graphic-label.crust .graphic-directional {
        top: -270%;
        height: 270%;
    }

    .graphic-label.sedimentary-rock .graphic-directional {
        top: -640%;
        height: 640%;
    }

    .graphic-label.foot-slope-1 .graphic-directional {
        top: -285%;
        height: 285%;
    }

    .graphic-label.nautical-miles-1 .graphic-directional {
        top: 100%;
        height: 275%;
    }

    .graphic-label.one-percent .graphic-directional {
        top: -815%;
        height: 815%;
    }

    .graphic-label.nautical-miles-2 .graphic-directional {
        top: 100%;
        height: 340%;
    }

    .graphic-label.depth-meters .graphic-directional {
        top: 100%;
        height: 880%;
    }

    .graphic-label.nautical-miles-3 .graphic-directional {
        top: 100%;
        height: 520%;
    }
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

