/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

h1 {
    margin: 0 0 0 0;
    /*font-family: 'Lora',Brunel-Deck-Semibold,Georgia,serif;*/
    font-family: sans-serif;
    font-weight: 600;
    font-size: 48px;
    font-style: normal;
    line-height: 1;
    letter-spacing: -2px;
}

p {
    margin: 0 0 0 0;
    font-family: Georgia,serif;
    font-weight: 400;
    font-style: normal;
}

.timeline175-introSlide-mediaCaption,
.timeline175-coverArchiveLink span,
.timeline175-shareHeadline,
.timeline175-newsletterHeadline,
.timeline175-entryText-byline {
    position: relative;
    display: block;
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.3;
}

.timeline175-introSlide-mediaCaption,
.timeline175-coverArchiveLink span {
    font-weight: 400;
}

.timeline175-shareHeadline,
.timeline175-newsletterHeadline {
    font-weight: 700;
}

.timeline175-introSlide-mediaCaption,
.timeline175-coverArchiveLink span {
    font-size: 12px;
    width: 100%;
    height: auto;
}

.timeline175-introSlide-mediaCaption,
.timeline175-coverArchiveLink span {
    color: #575757;
}

.timeline175-introSlide-mediaCaption {
    margin: 12px 0 0 0;  
    padding: 0 0 12px 0;
    border-bottom: 1px dotted #575757;
}

.timeline175-coverArchiveLink span {
    margin: 0 0 6px 0;
    text-align: center;
}

.timeline175-entryText-byline {
    margin: 6px 0 0 0;
    font-size: 16px;
    width: 100%;
    height: auto;
    color: #969696;
}

.timeline175-wrapper,
.timeline175-window,
.timeline175-container {
    position: relative;
    display: block;
    margin: 0 0 0 0;
    width: 100%;
    height: auto;
}

.timeline175-timelineNavigation {
    display: block;
    position: fixed;
    left: -100%;
    bottom: 0;
    width: 100%;
    height: 100vh;
    padding: 50px 35px;
    background-color: black;
    z-index: 50;   
}

.timeline175-timelineNavigation-window {
    position: relative;
    margin: 35px 0 0 0;
    width: 100%;
    height: 100%;
    overflow: auto;    
}

.timeline175-timelineNavigation-list {
    position: relative;
    margin: 0 0 0 0;
    width: 100%;
    padding: 0 0 35px 0;
    list-style-type: none;
}

.timeline175-timelineNavigation-list li {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border-bottom: 1px dotted #575757;
}

.timeline175-timelineNavigation-link {
    position: relative;
    display: block;
    margin: 0 0 0 0;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 21px;
    line-height: 1;
    text-decoration: none;
    padding: 9px 0;
    color: white; 
    opacity: .5;  
    background-color: transparent;
} 

.timeline175-timelineNavigation-link:hover {
    opacity: 1;
    background-color: rgba(74,185,217,.4);
}

.timeline175-timelineNavigation-trigger,
.timeline175-timelineNavigation-close {   
    left: auto;
    top: 30px;
    right: 25px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    cursor: pointer;
}

.timeline175-timelineNavigation-trigger {
    display: none;
    position: fixed;
    background-color: #4AB9D9;
    z-index: 10;
    -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
}

.timeline175-timelineNavigation-close {
    display: block;
    position: absolute;
    background-color: black;
    border: 1px dotted #575757;
}

.timeline175-timelineNavigation-close span,
.timeline175-timelineNavigation-trigger span {
    display: block;
    position: absolute;
    width: 25px;
    height: 2px;
    top: 50%;
    left: 50%;
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
    background-color: #575757;
}

.timeline175-timelineNavigation-close:hover {
    border: 1px dotted white;
}

.timeline175-timelineNavigation-close:hover span,
.timeline175-timelineNavigation-trigger:hover span {
    background-color: white;
}

.timeline175-timelineNavigation-trigger span:nth-child(1) {
    -webkit-transform: translate(-50%,-350%);
        -ms-transform: translate(-50%,-350%);
            transform: translate(-50%,-350%)
}

.timeline175-timelineNavigation-trigger span:nth-child(2) {
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%)
}

.timeline175-timelineNavigation-trigger span:nth-child(3) {
    -webkit-transform: translate(-50%,250%);
        -ms-transform: translate(-50%,250%);
            transform: translate(-50%,250%)
}

.timeline175-timelineNavigation-close span:nth-child(1) {
    -webkit-transform: translate(-50%,-50%) rotate(45deg);
        -ms-transform: translate(-50%,-50%) rotate(45deg);
            transform: translate(-50%,-50%) rotate(45deg);
}

.timeline175-timelineNavigation-close span:nth-child(2) {
    -webkit-transform: translate(-50%,-50%) rotate(-45deg);
        -ms-transform: translate(-50%,-50%) rotate(-45deg);
            transform: translate(-50%,-50%) rotate(-45deg);
}

.timeline175-timelineNavigation-imageContainer {
    position: absolute;
    display: block;
    margin: 0 0 0 0;
    left: calc((100% / 12) * 6);
    top: 0;
    width: calc(100% / 12 * 6);
    height: 100vh;
}

.timeline175-navigationImg {
    display: block;
    position: absolute;
    margin: 0 0 0 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0;
}

.timeline175-timelineNavigation,
.timeline175-timelineNavigation-link,
.timeline175-navigationImg,
.timeline175-timelineNavigation-trigger {
    -webkit-transition-duration: .35s;
         -o-transition-duration: .35s;
            transition-duration: .35s;
}

.timeline175-timelineNavigation-trigger:hover {
    background-color: #38658F;
}

.timeline175-timelineNavigation.active {
    left: 0;
}

.timeline175-heroSlide,
.timeline175-introSlide {
    position: relative;
    margin: 0 0 0 0;
    width: 100%;
    height: auto;
    min-height: 100vh;
}

.timeline175-pageTitle-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.timeline175-pageTitle {
    display: none;
    position: absolute;
    left: 0;
    top: auto;
    bottom: 100px;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 4px 4px 8px rgba(0,0,0,.4);
    -webkit-animation-name: fadeUp;
            animation-name: fadeUp;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
}

.timeline175-line {
    display: block;
    position: absolute;
    left: 25px;
    top: 0;
    right: auto;
    width: 3px;
    height: 100%;
    background-color: #4AB9D9;
    -webkit-animation-name: slideDown;
            animation-name: slideDown;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
}

.timeline175-introSlide {
    background-repeat: repeat;
    -webkit-box-shadow: 0 8px 16px rgba(0,0,0,.75);
            box-shadow: 0 8px 16px rgba(0,0,0,.75);
}

.timeline175-introSlide-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    height: 100%;
}

.timeline175-coverArchive-content {
    display: block;
    height: auto;
}

.timeline175-introSlide-content,
.timeline175-coverArchive-content {
    position: relative;
    margin: 0 auto;
    padding: 50px 25px;
    width: 100%;
    max-width: 1100px;
}

.timeline175-introSlide-headline,
.timeline175-coverArchive-headline,
.timeline175-timelineNavigation-headline {
    position: relative;
    display: block;
    margin: 0 auto 0;
    font-family: 'Lora',Brunel-Deck-Semibold,Georgia,serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 100%;
    max-width: 960px;
    color: #575757;
}

.timeline175-introSlide-headline,
.timeline175-coverArchive-headline {
    text-align: center;
}

.timeline175-introSlide-headline:after,
.timeline175-coverArchive-headline:after {
    content: " ";
    display: block;    
    width: 50px;
    height: 7px;
    border-top: 2px solid #575757;
    border-bottom: 1px dotted #575757;
}

.timeline175-introSlide-headline:after {
    margin: 20px auto 35px;
}

.timeline175-coverArchive-headline:after {
    margin: 20px auto 20px;
}

.timeline175-introSlide-media {
    position: relative;
    margin: 0 0 50px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    height: auto;
    padding: 0 0 0 0;
    float: none;
}

.timeline175-introSlide-media figure {
    position: relative;
    margin: 0 0 0 0;
    width: 50%;
    height: auto;
}

.timeline175-introSlide-media figure:nth-child(odd) {
    padding: 6px 6px 6px 0;
}

.timeline175-introSlide-media figure:nth-child(even) {
    padding: 6px 0 6px 6px;
}

.timeline175-introSlide-media figure img {
    margin: 0 0 0 0;
    width: 100%;
    max-width: none;
    height: auto;
    -webkit-box-shadow: 3px 3px 9px rgba(0,0,0,.3);
            box-shadow: 3px 3px 9px rgba(0,0,0,.3);
}

.timeline175-introSlide-text {
    position: relative;
    margin: 0 0 0 0;
    width: 100%;
    height: auto;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 0 0 0 0;
    float: none;
}

.timeline175-introSlide-text p {
    position: relative;
    margin: 0 0 18px 0;
    font-size: 17px;
    line-height: 1.4;
    color: #575757;
}

.timeline175-introSlide-text:last-child {
    margin: 0 0 0 0;
}

.timeline175-entry {
    position: relative;
    margin: 0 0 0 0;
    width: 100%;
    height: auto;
    padding: calc(100vh) 0 0 0;
}

.timeline175-entry:last-child {
    margin: 0 0 calc(100vh) 0;
}

.timeline175-entry-media,
.timeline175-heroSlide-media {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;   
    z-index: -100;
    background-color: black;
    -webkit-transition-duration: .7s;
         -o-transition-duration: .7s;
            transition-duration: .7s;
}

.timeline175-heroSlide-media {
    -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
}

.timeline175-entry-media {
    opacity: 0;
}

.timeline175-entry-media .timeline175-media_m {
    display: block;
}

.timeline175-entry-media .timeline175-media_d {
    display: none;
}

.timeline175-heroSlide-media video,
.timeline175-entry-media video,
.timeline175-entry-media .timeline175-media_m,
.timeline175-entry-media .timeline175-media_d {
    position: absolute;
    height: 100%;
    width: auto;
    max-width: none;
    max-height: none;
    left: 50%;
    top: 50%;
}

.timeline175-heroSlide-media img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    max-width: none;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}

.timeline175-heroSlide-media video {
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}

.timeline175-entry-media video,
.timeline175-entry-media .timeline175-media_m,
.timeline175-entry-media .timeline175-media_d {
    -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
            transform-origin: center center;
    -webkit-transition-duration: 2s;
         -o-transition-duration: 2s;
            transition-duration: 2s;
    -webkit-transform: translate(-50%,-50%) scale(1.5);
        -ms-transform: translate(-50%,-50%) scale(1.5);
            transform: translate(-50%,-50%) scale(1.5);
}

@media only screen and (min-width: 960px) {
    .timeline175-entry-media .timeline175-media_m {
        display: none;
    }

    .timeline175-entry-media .timeline175-media_d {
        display: block;
    }
}

@media (min-aspect-ratio: 16/9) {
    .timeline175-entry-media video,
    .timeline175-heroSlide-media video {
        width: 100%;
        height: auto;
    }
}

/*@media (min-aspect-ratio: 2/3) {
    .timeline175-entry-media .timeline175-media_m {
        width: 100%;
        height: auto;
    }
}*/

@media (min-aspect-ratio: 3/2) {
    .timeline175-entry-media .timeline175-media_d {
        width: 100%;
        height: auto;
    }

    .timeline175-heroSlide-media img {
        height: auto;
        width: 100%;
    }
}

.timeline175-entry.active .timeline175-entry-media {
    opacity: 1;
}

.timeline175-entry.active .timeline175-entry-media video,
.timeline175-entry.active .timeline175-entry-media .timeline175-media_m,
.timeline175-entry.active .timeline175-entry-media .timeline175-media_d {
    -webkit-transform: translate(-50%,-50%) scale(1);
        -ms-transform: translate(-50%,-50%) scale(1);
            transform: translate(-50%,-50%) scale(1);
} 

.timeline175-progressBar {
    position: fixed;
    display: none;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background-color: rgba(0,0,0,.25);
}

.timline175-progressFill {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #97D93F;
    -webkit-transition-duration: .3s;
         -o-transition-duration: .3s;
            transition-duration: .3s;
}

.timeline175-entry-text,
.timeline175-entryText-header {
    position: relative;   
    width: 100%;
    height: auto;    
}

.timeline175-entryText-header {
    margin: 0 0 25px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.timeline175-entry-text {
    margin: 0 0 0 0;
    padding: 50px 25px;
    background-color: rgba(0,0,0,.8);
    z-index: 25;
} 

.timeline175-entryText-cover {
    position: relative;
    margin: 0 0 0 0;
    width: 112px;
}

.timeline175-entryText-cover img {
    margin: 0 0 0 0;
    width: 100%;
    max-width: none;
    height: auto;
}

.timeline175-entryText-date {
    margin: 0 0 0 0;
    width: calc(100% - 115px);
    height: auto;
    -ms-flex-item-align: end;
        align-self: flex-end;
    padding: 0 0 0 18px;
}

.timeline175-entryText-month,
.timeline175-entryText-year,
.timeline175-entryText-headline {
    display: block;
    margin: 0 0 0 0;
    font-family: 'Lora',Brunel-Deck-Semibold,Georgia,serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    width: 100%;
    height: auto;
}

.timeline175-entryText-month,
.timeline175-entryText-year {
    color: #4AB9D9;
}

.timeline175-entryText-month {
    font-size: 18px;
}

.timeline175-entryText-year {
    font-size: 72px;
    letter-spacing: -2px;
}

.timeline175-entryText-year:after {
    content: "";
    display: block;
    margin: 16px 0 0;
    width: 50px;
    height: 1px;
    background-color: #8DADCC;
}

.timeline175-entryText-headline {
    font-weight: 600;
    font-size: 30px;
}

.timeline175-entry-text p {
    margin: 12px 0 0 0;
    font-size: 16px;
    line-height: 1.3;
}

.timeline175-entryText-headline,
.timeline175-entry-text p {
    color: white;
}

.timeline175-coverArchive,
.timeline175-share {
    position: relative;
    display: block;
    margin: 0 0 0 0;
    width: 100%;
    height: auto;    
    padding: 50px 0 75px;
    background-color: white;
}

.timeline175-coverArchive {
    min-height: 100vh;
}

.timeline175-share {
    border-top: 1px dotted #575757;
}

.timeline175-coverArchive-text {
    position: relative;
    margin: 0 auto 0;
    font-size: 17px;
    line-height: 1.4;
    width: 100%;
    max-width: 960px;
    text-align: center;
    color: #575757;
}

.timeline175-coverArchive-list {
    position: relative;
    margin: 50px auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    max-width: 1100px;
    list-style-type: none;
    padding: 0 0 0 0;
}

.timeline175-coverArchive-list li {
    position: relative;
    margin: 0 0 0 0;
    padding: 6px 6px 6px 6px;
    width: calc((100% / 12) * 4);
    height: auto;
}

.timeline175-coverArchiveLink {
    position: relative;
    display: block;
    margin: 0 0 0 0;
    width: 100%;
    height: auto;
    padding: 0 0 0 0;
    text-decoration: none;
}

.timeline175-coverArchiveLink span {
    margin: 0 0 6px 0;
    font-size: 12px;
    width: 100%;
    height: auto;
    text-align: center;
    color: #575757;
}

.timeline175-coverArchiveLink img {
    position: relative;
    margin: 0 0 0 0;
    width: 100%;
    max-width: none;
    height: auto;
    border: 1px solid #575757;
    -webkit-transition-duration: .35s;
         -o-transition-duration: .35s;
            transition-duration: .35s;
}

.timeline175-coverArchiveLink:hover img {
    -webkit-box-shadow: 4px 4px 10px rgba(0,0,0,.35);
            box-shadow: 4px 4px 10px rgba(0,0,0,.35);
    -webkit-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
            transform: translateY(-3px);
}

.timeline175-subscribeButton {
    position: relative;
    display: block;
    margin: 35px auto 0;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    width: 225px;
    height: auto;
    border-radius: 5px;
    text-decoration: none;
    padding: 12px 9px;
    text-align: center;
    -webkit-transition-duration: .35s;
         -o-transition-duration: .35s;
            transition-duration: .35s;
}

.magazineSubscribe {
    background-color: #4B88C2;
    color: white;
}

.magazineSubscribe:hover {
    background-color: #38658F;
}

.archiveSubscribe,
.newsletterSubscribe,
.timeline175-shareList li a {
    background-color: #E6E6E6;
    color: #575757;
}

.archiveSubscribe:hover,
.newsletterSubscribe:hover,
.timeline175-shareList li a:hover {
    background-color: #D6D6D6;
}

.timeline175-shareContent,
.timeline175-newsletterContent {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0 25px;
    float: none;
}

.timeline175-newsletterContent {
    margin: 50px 0 0 0;
}

.timeline175-shareContent {
    margin: 0 0 0 0;
}

.timeline175-shareHeadline,
.timeline175-newsletterHeadline {
    margin: 0 0 0 0;
    font-size: 16px;
    width: 100%;
    height: auto;
    color: black;
    text-transform: uppercase;
    text-align: center;
}

.timeline175-shareList {
    position: relative;
    margin: 35px 0 0 0;
    width: 100%;
    height: auto;
    list-style-type: none;
    padding: 0 0 0 0;
    text-align: center;
}

.timeline175-shareList li {
    position: relative;
    display: inline-block;
    margin: 0 12px 0;
    width: 25px;
    height: 25px;
    padding: 0 0 0 0;
}

.timeline175-shareList li a {
    position: relative;
    display: block;
    margin: 0 0 0 0;
    width: 25px;
    height: 25px;
    border-radius: 3px;
    -webkit-transition-duration: .35s;
         -o-transition-duration: .35s;
            transition-duration: .35s;
}

.timeline175-shareList li a img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80%;
    height: auto;
    max-width: none;
    max-height: none;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes slideIn {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes slideIn {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@-webkit-keyframes slideDown {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}

@keyframes slideDown {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}

@-webkit-keyframes fadeUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(75px);
                transform: translateY(75px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(75px);
                transform: translateY(75px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}


@media only screen and (min-width: 960px) {
    .timeline175-wrapper {
        height: calc((100vw * 24) + (28vw * 21) - (100vw - 100vh));
    }

    h1 {
        font-size: 84px;
    }

    .timeline175-line {
        display: block;
        position: absolute;
        left: auto;
        top: 25px;
        right: 0;
        width: 100%;
        height: 3px;
        -webkit-animation-name: slideIn;
                animation-name: slideIn;
    }

    .timeline175-pageTitle-container {
        position: absolute;
        left: calc((100% / 12) * 1);
        top: 0;
        width: calc((100% / 12) * 6);
        height: 100%;
    }

    .timeline175-pageTitle {
        left: 0;
        top: 50px;
        bottom: auto;
        text-align: left;
    }

    .timeline175-timelineNavigation-trigger {
        left: 50px;
        top: 35px;
        right: auto;
        width: 65px;
        height: 65px;
    }

    .timeline175-timelineNavigation-link {
        padding: 9px 50px;
    } 

    .timeline175-window {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    .timeline175-progressBar {
        display: block;
    }

    .timeline175-container {
        position: absolute;
        left: 0;
        top: 0;
        width: calc((100vw * 23) + (28vw * 21));
        height: 100vh;
    }

    .timeline175-heroSlide,
    .timeline175-introSlide {
        position: relative;
        width: 100vw;
        height: 100vh;
        float: left;
    }

    .timeline175-introSlide {
        -webkit-box-shadow: 5px 0 20px rgba(0,0,0,.6);
                box-shadow: 5px 0 20px rgba(0,0,0,.6);
    }

    .timeline175-introSlide-content {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .timeline175-introSlide-media {
        margin: 0 0 0 0;
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        width: calc((100% / 12) * 4);
        height: auto;
        padding: 0 0 0 25px;
    }

    .timeline175-introSlide-text {
        margin: 0 0 0 0;
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        width: calc((100% / 12) * 8);
        height: auto;
        padding: 0 25px 0 0;
    }

    .timeline175-entry {
        position: relative;
        margin: 0 0 0 0;
        width: auto;
        height: 100vh;
        padding: 0 0 0 calc(100vw);
        float: left;
    }

    .timeline175-entry:last-child {
        margin: 0 0 0 0;
    }

    .timeline175-entry-text {
        position: relative;
        margin: 0 0 0 0;
        width: 28vw;
        padding: 35px 25px;
        height: 100vh;
    }

    .timeline175-entryText-header {
        margin: 0 0 25px 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }

    .timeline175-entryText-cover {
        margin: 0 0 16px 0;
    }

    .timeline175-entryText-date {
        width: 100%;
        height: auto;
        -ms-flex-item-align: start;
            align-self: flex-start;
        padding: 0 0 0 0;
    }

    .timeline175-coverArchive-list li {
        position: relative;
        margin: 0 0 0 0;
        padding: 12px 12px 12px 12px;
        width: calc((100% / 12) * 2);
        height: auto;
    }

    .timeline175-shareContent,
    .timeline175-newsletterContent {
        margin: 0 0 0 0;
        width: 50%;
        float: left;
    }
        
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

